@import '../../styles/framework.scss';

.login {
    padding: 40px 48px 48px;
}

.login-box {
    position: relative;
    .login-error {
        position: absolute;
        top: -44px;
        width: 100%
    }
}