@import  '../../../styles/framework.scss';

.place-board-warp {

    .board-location {
    }
}

.place-board {
    width: 1240px;
    height: 600px;
    overflow: hidden;
    margin: 40px auto 0;

    .board-canvas {
        display: block;
        background: #fff;
        cursor: default;
        // cursor: -webkit-grab;

        // &.grabbing {
        //     cursor: -webkit-grabbing
        // }
    }
}