@import  '../../../styles/framework.scss';

.place-board-warp {
    position: relative;
    width: 100%;
    height: 100%;

    .board-location {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
}

.place-board {
    @include scrollbar;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    .board-canvas {
        display: block;
        background: #fff;
        margin: 20px auto;
        cursor: -webkit-grab;

        &.grabbing {
            cursor: -webkit-grabbing
        }
    }
}