@import  '../../../styles/framework.scss';

.board-plate {
    display: flex;
    width: 640px;
    height: 40px;
    background: #fff;
    border: solid 1px $gray_5;
    border-radius: 8px;
    padding: 0 4px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin: auto;

    .plate-item {
        height: 40px;
        padding: 8px;
        flex: 1;
        
        div {
            height: 24px;
            border-radius: 4px;
            cursor: pointer;
        }

        &:first-child {
            div {
                border: solid 1px $gray_6;
            }
        }
    }
}