
// 颜色以 5 为中间色，向两侧扩展
// 例如 $gray_5 为中度灰

$primary: #52c4bd;
$primary_light: #59cac9;
$primary_l_2: #59e2e4;

$black: #333;
$red: #f04134;
$green: #90e218;

$warning: #f9fbeb;

$gray_2: #787878;
$gray_3: #979ba8;
$gray_4: #a8a8a8;
$gray_5: #dbdbdb;
$gray_6: #e8e8e8;
$gray_7: #f4f4f4;
$gray_8: #f9fcfc;

$width_container: 990px;
$width_container_large: 1240px;

$medium_font: 14px;
$large_font: 16px;