@import '../../styles/framework.scss';

.header {
    $height: 52px;

    position: absolute;
    z-index: 8;
    width: 100%;
    height: $height;
    background: #002439; //linear-gradient(to right, #049bbf, #52c4bd);
    color: #fff;

    a.link-login {
        display: block;
        color: #fff;
        font-size: 14px;
        margin-top: 16px;
        text-align: right;
    }

    .header-icon-github {
        width: 28px;
        height: 28px;
        float: right;
        margin-top: 12px;
        color: rgba(255,255,255,.6);
        cursor: pointer;
        &:hover {
            color: rgba(255,255,255,1);
        }
    }

    .logo {
        display: block;
        font-size: 24px;
        float: left;
        color: #fff;
        line-height: $height;
    }

    .avatar-card {
        float: right;
        margin-top: ($height - 32)/2;
    }

    .userinfo {
        @include clearfix;
        width: 140px;
        height: $height;
        float: right;
        cursor: default;
    }

    .nav-menu {
        float: left;
        border: none;
        padding: 2.5px 0 2.5px 0;
        margin-left: 80px;
        background: none;

        > .ant-menu-item > a,  > .ant-menu-submenu > a {
            color: rgba(255,255,255,.6);
            &:hover {
                color: #fff;
            }
        }

        .ant-menu-item-selected > a {
            color: #fff;
        }

        .ant-menu-item {
            font-size: 14px;
        }
    }
}

.user-menu {
    a {
        text-align: center;
    }
}
